/* FONT IMPORT*/
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/**/

/* GLOBAL CLASS BUTTON */
.btn-one {
  text-align: center;
  line-height: 40px;
  background-color: #eb2d2d;
  text-decoration: none;
  width: 150px;
  font-size: 16px;
  color: white;
  font-style: italic;
  border-bottom: 3px solid #b21e1e;
}
/**/

/* Reset page and congi page*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.clear {
  clear: both;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

html,
body {
  height: 100%;
}
/**/

/* HEADER */
header {
  padding: 20px 2% 35px 2%;
  height: 130px;

  & div.logo {
    float: left;
  }

  & nav.desktop {
    float: right;
    position: relative;
    top: 40px;
  }

  & nav.desktop ul {
    list-style-type: none;
  }

  & nav.desktop ul li {
    float: left;
    font-size: 23px;
    padding: 0 20px;
    font-style: italic;
    text-transform: uppercase;
  }

  & nav.desktop ul li a {
    color: black;
    text-decoration: none;
  }

  & nav.mobile {
    margin-top: 35px;
    float: right;
    display: none;
    width: 32px;
    height: 32px;
    background-image: url(../images/icon_menu.png);
    background-size: 100% 100%;
    cursor: pointer;

    & ul {
      display: none;
      width: 100%;
      left: 0;
      top: 105px;
      z-index: 999;
      position: absolute;
      text-align: center;
      background-color: white;
      border-bottom: 4px solid #eb2d2d;
    }

    & ul li {
      font-size: 23px;
      padding: 20px 0;
    }

    & ul li a {
      color: black;
      text-decoration: none;
    }
  }
}
/**/

/* BANNER */
section.banner {
  overflow: hidden;
  width: 100%;
  height: 650px;
  background-color: black;
  background-image: url(../images/bg.jpg);
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;

  & .text-banner {
    padding: 70px;

    & .text-banner-single {
      width: 314px;
      height: 70px;
      line-height: 70px;
      padding-left: 50px;
      color: white;
      font-size: 23px;
      margin-top: 30px;
      font-style: italic;
      text-transform: uppercase;
      background-image: url(../images/box-text.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;

      &:nth-of-type(2) {
        width: 200px;
        height: 70px;
        line-height: 70px;
        position: relative;
        left: -10px;
      }

      &:nth-of-type(3) {
        width: 170px;
        height: 70px;
        line-height: 70px;
        position: relative;
        left: -20px;
      }

      &:nth-of-type(4) {
        width: 320px;
        font-size: 18px;
        color: black;
        position: relative;
        padding: 0 20px;
        left: -30px;
        line-height: 70px;
        background-image: url(../images/box-white-text.png);
      }
    }
  }
}
/**/

/* VEHICLE SECTION */
section.featured-vehicle {
  padding: 90px 2%;

  & .line-title {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    text-align: center;

    & h2 {
      position: relative;
      padding: 0 20px;
      background-color: white;
      display: inline-block;
      text-transform: uppercase;
      font-size: 27px;
      font-style: italic;
    }

    & .ln1 {
      position: absolute;
      width: 100%;
      height: 1px;
      top: 20px;
      background-color: black;
    }
  }

  & .container {
    max-width: 1000px;
    padding: 40px 0;
    text-align: left;

    & .featured-showcase {
      float: left;
      width: 33.3%;

      & .img-car {
        width: 100%;
        padding-top: 100%;
        background-size: 100% 100%;
        border: 8px solid white;
      }

      & h2 {
        padding-left: 8px;
        color: black;
        font-style: italic;
        font-size: 20px;
      }

      & p {
        padding-left: 8px;
        padding-top: 8px;
        color: #353535;
        font-size: 15px;
        font-style: italic;
      }

      & .btn-one {
        margin-top: 10px;
        margin-left: 8px;
        color: white;
        font-style: italic;
        width: 150px;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        background-color: #eb2d2d;
        text-decoration: none;
        border-bottom: 3px solid #b21e1e;
      }
    }
  }
}
/**/

/* SERVICES AND DEPOSITIONS */
section.services-description {
  display: flex;
  & .half-one {
    width: 50%;
    text-align: right;
    padding: 90px 0;
    background-color: #242424;
    color: white;

    & .half-one-wraper {
      display: inline-block;
      text-align: left;
      padding: 0 100px 0 20px;

      & h2 {
        font-size: 35px;
        font-weight: normal;
        font-style: italic;
      }

      & ul {
        display: inline-block;
        margin-top: 20px;

        & li {
          margin-left: 15px;
        }
      }

      & .btn-one {
        width: 90px;
        height: 40px;
      }

      & a {
        display: inline-block;
        margin-left: 20px;
      }
    }
  }

  & .half-two {
    width: 50%;
    padding: 90px 100px;
    background-color: #eb2d2d;
    color: white;

    & h2 {
      font-size: 35px;
      font-weight: normal;
      font-style: italic;
    }

    & .half-two-depositions-single {
      margin-top: 19px;

      & p {
        font-size: 20px;
      }

      & .navigation {
        float: left;
        margin-top: 30px;
        width: 100%;
        max-width: 700px;

        & .arrows {
          float: left;
        }

        & img {
          cursor: pointer;
          margin: 0 20px 0 1px;
        }

        & .deposition-author {
          float: right;
          margin-top: 2px;
          font-size: 18px;
          color: #252525;
        }
      }
    }
  }
}
/**/

/* CONTACT */
section.contactForm {
  padding: 80px 2%;
  & .line-title {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    text-align: center;

    & h2 {
      position: relative;
      padding: 0 20px;
      background-color: white;
      display: inline-block;
      text-transform: uppercase;
      font-size: 27px;
      font-style: italic;
    }

    & .ln1 {
      position: absolute;
      width: 100%;
      height: 1px;
      top: 20px;
      background-color: black;
    }
  }

  & form {
    max-width: 600px;
    margin: 50px auto;
  }

  & .input-wraper {
    float: left;
    padding: 10px;
    margin-top: 7px;
  }

  & input[type="text"] {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    border: 1px solid #ccc;
  }

  & textarea {
    width: 100%;
    height: 120px;
    padding: 8px;
    resize: none;
    border: 1px solid #ccc;
  }

  & input[type="submit"] {
    width: 96px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    cursor: pointer;
  }

  & .w100 {
    width: 100%;
  }

  & .w50 {
    width: 50%;
  }

  & .input-wraper:nth-of-type(5) {
    display: inline-block;
    text-align: center;
  }
}
/**/

/* FOOTER */

footer {
  padding: 40px 2%;
  background-color: #252525;

  & nav {
    float: left;

    & ul {
      list-style-type: none;

      & li {
        padding: 0 10px;
        float: left;
        font-size: 19px;
        font-style: italic;
        text-transform: uppercase;
      }

      & a {
        color: white;
        text-decoration: none;
      }
    }
  }

  & p {
    float: right;
    color: white;
    font-size: 19px;
    font-style: italic;
  }
}

/**/

/* MEDIA QUERYS */

@media screen and (max-width: 1400px) {
  section.banner {
    background-size: 90% auto;
    background-position: 200% 100%;
  }
}

@media screen and (max-width: 1024px) {
  section.banner {
    background-size: cover;
    background-position: center;
    height: 70vw;
    min-height: 500px;
  }
}

@media screen and (max-width: 915px) {
  footer {
    text-align: center;

    & nav {
      display: none;
    }

    & p {
      float: none;
    }
  }
}

@media screen and (max-width: 912px) {
  header {
    & nav.desktop {
      display: none;
    }

    & nav.mobile {
      display: block;
    }
  }
}

@media screen and (max-width: 866px) {
  section.services-description {
    & .half-one {
      text-align: center;

      & .half-one-wraper {
        text-align: left;
        padding-right: 0;

        & a {
          display: block;
          margin-left: 0;
          margin-top: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  section.banner {
    background-size: cover;
    background-position: 100px center;
    height: 80vh;
  }

  section.services-description {
    flex-direction: column;
    & .half-one,
    .half-two {
      width: 100%;
      padding: 90px 100px;
    }

    & .half-one {
      text-align: center;

      & .half-one-wraper {
        padding-right: 0;
        & .btn-one {
          margin-left: 0;
          margin-top: 20px;
          width: 150px;
          display: block;
        }
      }
    }
  }

  section.contactForm {
    & .w50 {
      width: 100%;
    }
  }
}

@media screen and (max-width: 736px) {
  section.featured-vehicle {
    & .container {
      text-align: center;
      & .featured-showcase {
        display: inline-block;
        margin-top: 20px;
        float: none;
        width: 70%;

        & a {
          display: inline-block;
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  section.banner {
    & .text-banner {
      padding: 30px;

      & .text-banner-single {
        width: 240px;
        font-size: 18px;

        &:nth-of-type(4) {
          font-size: 15px;
          width: 270px;
        }
      }
    }
  }

  section.featured-vehicle {
    & .line-title {
      & h2 {
        font-size: 23px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  section.featured-vehicle {
    & .container {
      & .featured-showcase {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 413px) {
  section.services-description {
    & .half-two {
      & .half-two-depositions-single {
        & .navigation {
          & .deposition-author {
            margin-top: 1px;
          }

          & img {
            cursor: pointer;
            margin: 0 5px 0 2px;
          }
        }
      }
    }
  }

  footer {
    & p {
      font-size: 15px;
    }
  }
}

/**/
